@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*top Head*/
.top-head {
  height: 80px;
  
  width: 100%;
  padding: 17px;
}
.logosec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btnsec{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.logoimg{
  width:100%;
  height:50px;
}
.chatbtn{
  background: #e87815;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
.chatbtn:hover{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.btnlogin{
  background: #e87815;
  color: #fff;
  border-radius: 25px;
  padding: 10px 55px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  border: none;
}
/*end Top Head */

/* navbar */
.bg-orange {
  background-color: #e87815 !important;
}
.navbar-nav{
  padding:9px 12px;
  }
  .navbar-nav li a{
    padding: 6px 18px !important;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    }

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus {
  background: none;
  border: none;
  outline: none;
}

.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: 0.25rem;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 25%;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 34.5%;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: 50%;
}

.navbar-toggler span:nth-child(4) {
  top: 65.5%;
}

.navbar-toggler.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.nav-item a:hover,
.rightlogin a:hover {
    background-color: #e87815;
    color:#fff;

}
.navbar{
    padding:0 !important;
}

.dropdown:hover>.dropdown-menu {
display: block;
}
.dropdown:hover>.dropdown-submenu {
display: block;
}
.dropdown{
border-radius:0;
border:0;
}
.dropdown-menu{
background: #fff;
color:#000;
border:0;
top:100%;
border-radius:0px 0px 5px 5px;
}

.dropdown-item:hover{
background: #e87815;
color: #fff;
}
.dropdown-menu a{
color:#000;
} 

.navbar .nav-item .nav-link{
color:#fff !important; 

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
color:red !important;
}
.dropdown-menu {
margin:0 !important;
border: 1px solid rgba(0,0,0,.15) !important;}
.dropdown-submenu {
position: relative;
}

.dropdown-submenu>.dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px 6px;
border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
display: block;
}

.dropdown-submenu>a:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #cccccc;
margin-top: 5px;
margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
left: -100%;
margin-left: 10px;
-webkit-border-radius: 6px 0 6px 6px;
-moz-border-radius: 6px 0 6px 6px;
border-radius: 6px 0 6px 6px;
}
.highlight{
  background: #fd0101;
    color: #fff;
    border-radius: 29px;
    padding: 0 9px;
}
/* End navbar */

/* Banner */
.float-start {
  float: left !important;
}
.banner-section {
  position: relative;
  min-height: 583px;
  z-index: 1;
  overflow: hidden;
}
.banner-section .img-main-abnner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.banner-section .img-main-abnner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-section .main-bg-start {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff, -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff, -44vw -13vh 0px 0px #fff, 46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff, 47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff, 32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff, 34vw -26vh 1px 0px #fff, -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff, -44vw -33vh 0px 1px #fff, -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff, -23vw -24vh 1px 0px #fff, -38vw -27vh 0px 1px #fff, 16vw -19vh 0px 0px #fff, 28vw 33vh 1px 0px #fff, -49vw -4vh 0px 0px #fff, 16vw 32vh 0px 1px #fff, 36vw -18vh 1px 0px #fff, -25vw -30vh 1px 0px #fff, -23vw 24vh 0px 1px #fff, -2vw -35vh 1px 1px #fff, -25vw 9vh 0px 0px #fff, -15vw -34vh 0px 0px #fff, -8vw -19vh 1px 0px #fff, -20vw -20vh 1px 1px #fff, 42vw 50vh 0px 1px #fff, -32vw 10vh 1px 0px #fff, -23vw -17vh 0px 0px #fff, 44vw 15vh 1px 0px #fff, -40vw 33vh 1px 1px #fff, -43vw 8vh 0px 0px #fff, -48vw -15vh 1px 1px #fff, -24vw 17vh 0px 0px #fff, -31vw 50vh 1px 0px #fff, 36vw -38vh 0px 1px #fff, -7vw 48vh 0px 0px #fff, 15vw -32vh 0px 0px #fff, 29vw -41vh 0px 0px #fff, 2vw 37vh 1px 0px #fff, 7vw -40vh 1px 1px #fff, 15vw 18vh 0px 0px #fff, 25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff, 23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff, 14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff, 20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff, 33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff, -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff, 39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff, -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff, -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px 1px #fff, -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff, 33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff, -8vw -10vh 1px 1px #fff;
  box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff, -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff, 4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff, -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff, 4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff, -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff, -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff, 48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff, 43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff, 39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff, 11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff, -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff, 42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff, -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff, 18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff, 27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff, -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff, -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff, -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff, 48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff, 21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff, -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff, -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff, 3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff, 35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff, 3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff, 48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff, -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff, 29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
  animation: zoom 6s alternate infinite;
}
@keyframes zoom{
  0% {
    transform: scale(1);
}
100% {
  transform: scale(1.5);
}
}
.banner-section .banner-text-home {
  position: relative;
  z-index: 2;
  min-height: 594px;
  display: grid;
  align-content: center;
}
.banner-section .banner-text-home .spm-smalll {
  color: #d3a417;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner-section .banner-text-home h1 {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner-section .banner-text-home p {
  color: #ececec;
  font-size: 2rem;
  font-weight: 300;
}
.banner-section .banner-text-home .btn-get-btn {
  padding: 12px 26px 10px 26px;
  color: #0a051d !important;
  border: solid 2px rgba(255, 255, 255, .2588235294) !important;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  background: #fff;
  transition: all .5s linear;
}
.main {
  margin: 0px auto;
  width: 450px;
  height: 450px;
  position: relative;
}
.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 8px solid rgba(255, 255, 255, .0901960784);
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}
@keyframes Rotate{
  0% {
    transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
.icon-block {
  width: 54px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background: #ff7a18;
  background: -moz-linear-gradient(-45deg, #ff7a18 0%, #d3193e 50%, #36acb4 99%);
  background: -webkit-linear-gradient(-45deg, #ff7a18 0%, #d3193e 50%, #36acb4 99%);
  background: linear-gradient(135deg, #ff7a18 0%, #d3193e 50%, #36acb4 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7a18", endColorstr="#36acb4",GradientType=1 );
  transition: all .5s;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(5) {
  top: 20%;
  left: 40px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(6) {
  top: 20%;
  right: -24px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block img {
  margin: 0px auto;
  width: 86%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
@keyframes Rotate-reverse{
  0% {
    transform: rotate(360deg);
}
100% {
  transform: rotate(0deg);
}
}
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 75%;
  height: 75%;
  border: 8px solid rgba(255, 255, 255, .0901960784);
  border-radius: 50%;
}
@keyframes circle-rotate{
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
}
100% {
  transform: translate(-50%, -50%) rotate(405deg);
}
}
.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}
@keyframes img-rotate{
  0% {
    transform: rotate(-45deg);
}
100% {
  transform: rotate(-405deg);
}
}
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.center-logo img {
  max-width: 200px;
}
/* End Banner */
/* button */
.btn-hover {
  
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  font-family: "Poppins", sans-serif;
}
/* End Button */

/* card */
.card1{
  padding: 10px 20px;
  height: 110px;
  border-radius: 12px;
  box-shadow: 5px 6px 11px 11px #f3f3f3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon{
  color: #fff;
    font-size: 31px;
    background: #e87815;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.icon1{
  background: #07a128 !important;
}
.icon2{
  background: #ffc107 !important;
}
.icon3{
  background:#fff;
}
.para1{
  font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;

}
/* End Card */

/* Talk To Astrologer */
.headtitle{
  font-family: "Poppins", sans-serif;
  color: #4f4f4f;
}
.profile{
  border: none;
  border-radius: 12px;
  padding: 15px 15px 15px 0;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1019607843);
}
.profilearea{

}
.profilepic{
  position: relative;
}
.status{
  position: absolute;
  width: 14px;
  height: 14px;
  background: #34C105;
  top: 62px;
  left: 87px;
  border-radius: 50%;
  z-index: 1;
  animation: circle 1s linear infinite;
}
.profileimg{
    width: 85px;
    height: 85px;
    outline: 2px solid rgba(18, 206, 41, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 19px;
    margin-top:29px;
}
.profileimg img {
  width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
}
.rating{
  display: inline;
}
.persondetail{
  font-size: 14px;
    width: 100%;
}
.personname{
  font-size: 16px;
    font-weight: 700;
}
.personname p{
  margin-bottom: 0;
}
.personname a{
  color: #343a40;
    text-decoration: none;
}
.personexp{
    font-weight: 400;
    color: #707070;
    margin-top: -4px;
    margin-bottom: 0;

}
.personlang{
    margin-top: 4px;
    line-height: 18px;
    margin-bottom: 0;
}
.persontype{
  display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    overflow: hidden;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
.personitem{
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.personofferprice{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0;
}
.yellow{
  background: #ecbd31;
    color: #fff;
    border-radius: 29px;
}
.green{
  background: #28a745;
    color: #fff;
    border-radius: 29px;
}
/* End Astrologer */

/* secRating */
.secrating{
  background-color: #e87815;
  padding: 50px 0;
  text-align: center;
}
.numbertext{
  font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    color:#fff;
}
.numberastro{
  font-weight: 500;
    margin-bottom: 0;
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}
.divide{
  border-left: 1px solid #fff;
  
}

/*End SecRating */
.zodiacsec{
  padding:50px 0;
}
.zodiactext{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.ariesimg{
  width: 120px;
    height: 120px;
    border-radius: 68px;
    border: 2px solid #e87815;
}
.zodiac-main{
  display: flex;
  justify-content: center;
}
.zodiac-name{
  margin: 0;
  color: #000;
  font-weight: 500;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}
.zodiac-month{
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size:16px;
  text-align: center;
}
.zodiac-link{
  text-decoration: none;
}
.zodiac-link:hover{
  text-decoration: none;
}
/* zodiacsec */

/* Endzodiacsec */
orange {
  color: orange;
}

h5 {
  text-align: center;
  font-family: Tahoma;
  color: black;
  font-size: 20px;  
}

h4 {
  text-align: center;
  font-family: Tahoma;
  color: black;
  font-size: 20px;
  
  padding-top: 20px;
  font-weight: normal;
}
 .slick-prev:before {
  color: #727070 !important;
    font-size: 32px;
}
.slick-next:before {
  color: #727070 !important;
  font-size: 32px;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 1
}
h3 {
  background: #0084cc;
  list-style: none;
  color: white;
  font-family: Tahoma;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 3%;
  position: relative;
  text-align: center;
  display: inline-block !important;
    width: 75px !important;
}

.slider1, .slider2, .slider3 {
  width: 1187px !important;
  left: 50%;
  transform: translateX(-50%);
}

.slick-current h3 {
  background: orange;
}
.slick-next {
  right: -73px !important;
}
.slick-prev {
  left: -73px !important;
}
.slidesec{
  background: url('../img/slideimg.png');
  background-size: cover;
}
.slidetext{
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.cardslide{
  width:290px !important;
}
.slicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconslide{
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    background: #e53d08;
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
.mt9{
  margin-top:9px;
}
h5{
  font-family: "Poppins", sans-serif;
}
.slidepara{
  text-align: justify;
}

/* Blog area */
.secblog {
  padding: 50px 0;
}
.blogtext{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.wrapper1 {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cardblog {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px !important;
}
.card-headerblog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-bodyblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-bodyblog p {
  font-size: 13px;
  margin: 0 0 40px;
}
.card-bodyblog h4 {
 font-family: "Poppins", sans-serif; 
 text-align: left !important;
 font-size: 15px;
 font-weight: bold;

}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/* end Blog Area */

/* secpromise */
.secpromise{
  background-color: #e87815;
    padding: 50px 0;
}
.promisetext{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}
.pro-text{
  color:#fff;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}
.pt-10{
  padding-top:10px;
}
.card-box{
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 6px;
}
.our-text{
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  color: #575757;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.promise-icon{
  font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #575757;

}
/* end secpromise */

/* testimonial */
.sectestimonial{
  padding: 50px 0;
  background: url(../img/slideimg.png);
    background-size: cover;
}
.testi-text{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}

.testimonial {
  border-right: 4px solid #fe7a18;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.testimonial:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -17px;
  border-top: 25px solid #fe7a18;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.testimonial:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -17px;
  border-top: 25px solid #fe7a18;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(135deg);
}
.testimonial .pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 20px;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .description {
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  line-height: 25px;
  margin-bottom: 15px;
}
.testimonial .title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fe7a18;
  margin: 0;
}
.testimonial .post {
  display: inline-block;
  font-size: 17px;
  color: #fe7a18;
  font-style: italic;
}
.owl-theme .owl-controls .owl-page span {
  border: 2px solid #2a3d7d;
  background: #fff !important;
  border-radius: 0 !important;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background: #fe7a18 !important;
  border-color: #fe7a18 ;
}
@media only screen and (max-width: 767px) {
  .testimonial {
    padding: 20px;
    text-align: center;
  }
  .testimonial .pic {
    display: block;
    position: static;
    margin: 0 auto 15px;
  }
}
.pt-40{
  padding-top:40px
}

/* end testimonial */

/* astrologer */
.secastro{
  padding: 50px 0;
}
.astro-text{
  color: #353232;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.our-text{
  color: #353232;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}
.our-text1{
  color: #353232;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 2rem;
}

.astro-card{
  width: 100%;
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);

}
.bg-red{
  background: #ff061e;
}
.bg-green{
 background: #45B649;
}
.bg-blue{
  background: #65C7F7;
}
.bg-purple{
  background: #EC6EAD;
}
.bg-orange{
  background: #ff6a00;
}
.bg-green2{
  background: #4ecdc4;
}
.astro-text2{
  text-align: center !important;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
/* end astrologer */

/*secconnect */
.secconnect{
  background-color: #e87815;
    padding: 50px 0;
}
.connect-text{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}
.connect1-text{
  font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 2rem;
    color:#fff;
}
.con-icon{
  margin-bottom: 0 !important;
    background: #e87815;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect-para{
  font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.cardastro{
  height: 274px !important;
}
/*endsecconnect */

/* secpooja */

.secpooja{
  padding: 50px 0;
}
.pooja-text{
  font-family: "Poppins", sans-serif;
  font-weight:500;
}
.pooja-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 345px !important;
}
.poojacard-headerblog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.poojacardtext{
  font-family: "Poppins", sans-serif;
  font-weight:500;
  font-size: 17px !important;
}
.poojasubtext{
  font-family: "Poppins", sans-serif;
  font-weight:400;
  font-size: 16px !important;
}
.bottom-right {
  position: relative;
    bottom: 33px;
    right: 0px;
    background: #fe7a18;
    color: #fff;
    width: 197px;
    border-right: 10px;
    border-radius: 0 6px 6px 0;
    padding: 5px;
}
.poojacard-bodyblog {
 
  padding: 20px;
}
.poojadis{
  display: flex;
  justify-content: center;
}
.bgorange11{
  background-color: #FD7E14 !important;
  border-color: #FD7E14 !important;
}
/* endsecpooja */

/* secupfoot */
.socialin{
  display: flex;
  justify-content: space-between;
  width: 210px;
  list-style: none;
}
.iconbg{
  background: #ff3503;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 21px;
}
.iconbg1{
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 9px;
  font-size: 21px;
  width: 50px;
  text-align: center;
}
.ml-17{
  margin-left:17px;
}
.mt-10{
  margin-top:10px !important;
}
.secupfoot{
  padding:10px;
  background: #393737;
}
.foottext{
  font-size: 18px !important;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    color:#fff !important;
}
.textunder{
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.textunder:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  margin-top: 15px;
  bottom: 0;
  width: 100%;
  background: #ff6a00;
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.footer-text{
 
    list-style: none;
}
.footer-text li{
  margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2;
    padding-bottom: 3px;
    word-break: break-word;
}
.footer-text a{
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.footer-text a:hover{
  font-family: "Poppins", sans-serif;
  color: #ee5b05;
  font-size: 16px;
  line-height: 28px;

  transition: 0.3s ease-in-out;
  text-decoration: none;
}
/* end secupfoot */

/* secfoot */
.secfoot{
  background:#000;
  color:#fff;
  padding:10px;
}
.footpara{
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
/* end secfoot */
